<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        * {
            font-family: 'Courier New', Courier, monospace;
            font-size: 1rem;
            color: #282c34;
        }

        .App {
            background-color: #282c34;
            min-height: 100vh;
            max-width: 100%;
            min-width: 100%;
        }

        .comparison {
            padding-top: 5vh;
            padding-bottom: 3vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
        }

        h1 {
            width: 100%;
            margin-left: 6%;
            color: white;
            text-align: start;
            font-family: 'Lucida Console', Courier, monospace
        }

        table {
            background-color: white;
            width: 95%;
            display: flex;
            justify-content: left;
            align-items: center;
            border-radius: 7px;
            border: white 1px solid;
            overflow: hidden;
        }

        tbody {
            padding-top: 5px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .row *, .row-created *, .row-removed * {
            word-break: break-all;
        }

        .row {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8);
        }

        .row-created {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 255, 0, 0.35);
        }

        .row-removed {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 0, 0, 0.32);
        }

        .line-number, .line-number-deleted, .line-number-added {
            color: #282c34;
            font-size: 0.7rem;
            width: 60px;
            text-align: center;
            border-right: #282c34 1px solid;
        }

        .line-icon {
            font-size: 0.4rem;
            width: 60px;
            text-align: center;
            border-right: #282c34 1px solid;
        }

        .context, .created, .deleted {
            width: 100%;
            margin-left: 2%;
        }
    </style>
</head>
<body>
<div class="App">
    @@comparisons.start@@
</div>
</body>
</html>